# MacOS metadata
.DS_Store

.gclient_done
.env
*.log

.tags*
*.swp

# Visual Studio
*.sln
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
.vscode/
.editorconfig

# Xcode
*.xcodeproj

# IntelliJ IDEs
/.idea/

# Modules
/compiled/
node_modules/

# npm
**/package-lock.json
**/.npmrc
.npmrc

# Generated API definitions
electron-api.json
electron.d.ts

# Eslint
.eslintcache*